.wrapper {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.treeDots {
  background: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 8px;
  transition-property: background;
  transition-duration: 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.branch {
  border: none;
  background: none;
  padding: 0;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.chip,
.chipFree,
.chipBusy {
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.2em;
}

.chip:not(.chipFree, .chipBusy) {
  background-color: rgb(70, 70, 70);
  color: white;
}

.chipFree {
  background-color: #198754;
  color: white;
}
.chipBusy {
  background-color: #ffc107;
  color: #000;
  white-space: nowrap;
}
