.wrapper {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.chip,
.chipFree,
.chipBusy {
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.2em;
}

.chip:not(.chipFree, .chipBusy) {
  background-color: rgb(70, 70, 70);
  color: white;
}

.chipFree {
  background-color: #198754;
  color: white;
}
.chipBusy {
  background-color: #ffc107;
  color: #000;
  white-space: nowrap;
}
