.main {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px 20px;
}

.loader {
  display: flex;
  justify-content: center;
}

.list {
  display: grid;
  gap: 8px;
  padding: 0;
}

.listItem {
  list-style-type: none;
}

.footer {
  padding: 20px 18px;
  display: flex;
  justify-content: flex-end;
}
